# 部署者私钥（不要提交到git）
PRIVATE_KEY=wCoc8MsprV6ohgufySJCXv9R0w+JXpE1xf+pftvr5dfCMN0WcWY0yEKacLfP6256GXLj3YFLcWaybJwEUzNwwA==

# BaseScan API密钥（用于合约验证）
BASESCAN_API_KEY=2664cbae-8cc1-46df-a9b2-966c3de9e299

# 合约地址（部署后更新）
CONTRACT_ADDRESS=your_deployed_contract_address_here

# USDC合约地址（Base Goerli测试网）
USDC_ADDRESS=0x036CbD53842c5426634e7929541eC2318f3dCF7e

# Base Sepolia RPC URL
BASE_SEPOLIA_RPC_URL=https://base-sepolia.g.alchemy.com/public